<!DOCTYPE html>
<html lang="ru">
<head>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.game {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
    border: 4px solid #ff002e;
    color: #000000; background-color: #af8eff;
}
</style>
</head>
<body style="background-image:url(https://w-dog.ru/wallpapers/13/1/550800233077322.jpg)">
<li><a href="blog">История создания компании</a><li/>
<li><a href="grom">О играх</a><li/>
<div class="w3-container w3-orange">

  <h1>Основные игры Supercell.</h1>
  <p>Сайт о играх компании Supercell.</p>
</div>

<div class="game">
  <h2>Brawl Stars</h2>
  <p>Brawl Stars — игра для мобильных устройств в жанре MOBA, разработанная и изданная компанией Supercell. Глобальный релиз состоялся 12 декабря 2018 года.</p>
  <p>Скачать игру можно в Play Market и App Store.</p>
</div>

<div class="game">
  <h2>Clash of Clans</h2>
  <p>Clash of Сlans (рус. «Столкновение кланов») — стратегическая игра, созданная финской студией-разработчиком Supercell для мобильных устройств. Распространяется по модели free-to-play.</p>
  <p>Скачать игру можно в Play Market и App Store.</p>
</div>

<div class="game">
  <h2>Clash Royal</h2>
  <p>Clash Royale — игра для мобильных устройств жанра RTS с элементами ККИ, доступная на платформах Android и iOS, выпущенная 2 марта 2016 года компанией Supercell. За год Clash Royale принесла своим создателям более миллиарда долларов. Находится в одной игровой вселенной с Clash of Clans.</p>
  <p>Скачать игру можно в Play Market и App Store.</p>
</div>

<div class="game">
  <h2>Hay Day</h2>
  <p>Hay Day — условно-бесплатная игра-ферма для мобильных устройств, которая была разработана компанией Supercell. Игра появилась 21 июня 2012 года на iOS и 20 ноября 2013 года на Android.</p>
    <p>Скачать игру можно в Play Market и App Store.</p>



</div>

<div class="game">
  <h2>Boom Beach</h2>
  <p>Boom Beach — это условно бесплатная многопользовательская онлайн-стратегия в реальном времени для iOS и Android, разработанная финской компанией Supercell. Она была запущена в Канаде 11 ноября 2013 года и вышла на весь мир 26 марта 2014 года. Она вошла в топ 10 игр в 22 странах во время первого запуска.</p>
    <p>Скачать игру можно в Play Market и App Store.</p>
</div>


</body>
</html>